@model LoginVM

@{
    ViewBag.Title = "User Login";
}

<div class="row">
    <div class="col-6">
        <h1>Local Account Login</h1>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <form method="post">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" type="checkbox" /> @Html.DisplayNameFor(x => x.RememberMe)
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <a asp-action="ForgotPassword">Forgot Password</a>
        </form>
    </div>
    <div class="col-6">
        <h1>External Login</h1>
        <hr />

        @if(Model.ExernalLogins.Count > 0)
        {
            <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                <div>
                    @*name and value in button are required to bind it in ExternalLogin controller*@
                    @foreach(var provider in Model.ExernalLogins)
                    {
                        <button type="submit" class="btn btn-primary"
                                name="provider"
                                value="@provider.Name"
                                title="Login using your @provider.DisplayName account">
                            @provider.DisplayName
                        </button>
                    }
                </div>
            </form>
        }
        else
        {
            <div><b>No external logins configured</b></div>
        }
    </div>
</div>